<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
</head>
<body>
&lt;!&ndash; action : form에 작성한 데이터를 어디로 보낼지 지정 &ndash;&gt;
<form action="/user/save" method="post">
    &lt;!&ndash; name : 서버로 전송 할 때 변수 이름의 역할 &ndash;&gt;
    아이디: <input type="text" name="userId"> <br>
    비밀번호: <input type="password" name="userPw"> <br>
    이름: <input type="text" name="userName"> <br>
    전화번호: <input type="text" name="PhoneNumber"> <br>
    이메일: <input type="text" name="Email"> <br>
    주소: <input type="text" name="userAddress"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>-->